@media only screen and (max-width: 1880px) {}

@media only screen and (max-width: 1780px) {}

@media only screen and (max-width: 1680px) {
    .breadcrumb__bg {
        padding: 55px 0 55px;

    }

}

@media only screen and (max-width: 1550px) {
    .sg_about_us {
        padding-top: 80px;
    }
    .sg_contact-page-sec {
        padding-top: 3rem;
    }


}

@media only screen and (max-width: 1440px) {
    .about__content-seven .section-title .title {
        width: 100%;
    }

    .about__area-eight {
        padding-bottom: 60px;
    }

    .breadcrumb__bg {
        background-size: cover;
        background-position: center;
        padding: 45px 0 47px;
        position: relative;
        z-index: 1;
        padding: 60px 0 45px;
    }

    .breadcrumb__area {
        height: 180px !important;
    }
}

@media only screen and (max-width: 1366px) {
    .banner-content h2 {
        font-size: 40px !important;
    }

    /* .btn {
        font-size: 14px !important;
        padding: 14px 16px !important;
    }
    .btn::after {
        font-size: 18px;

    } */
    .project-content .title {
        font-size: 20px;
    }

    .request-content .title {
        font-size: 40px;
    }

    .services-content {
        padding: 25px 25px 25px;
    }



}

@media only screen and (max-width: 1280px) {
    .call-back-area {
        padding: 70px 0 60px;
    }

    .footer-top {
        padding: 100px 0 23px;
    }

    .shape img {
        width: 77%;
    }

    .services__details-content>.title {
        font-size: 27px;
    }

}


@media only screen and (max-width: 1150px) {
    .consulting-content .content-right .title {
        font-size: 25px;
    }

    .blog-post-content .title {
        font-size: 22px;
    }

    .section-title .title {
        font-size: 30px;
    }

    .banner-bg {
        min-height: 583px;
    }

    .services-content {
        padding: 20px 20px 20px;
    }

    .cygrif_pro_what_provid_card .pro_what_provid_card .services-item p:first-of-type {
        margin-bottom: 0px !important;
    }

    .services-content p {
        line-height: 20px;
    }

    .sg_chate_img {
        padding: 40px 0;
    }

    .choose-img-wrap {
        padding-bottom: 0px;
    }

    .counter-item .icon {
        font-size: 54px;
    }

    .counter-item .content p {
        font-size: 14px;
    }

    .counter-area {
        padding: 70px 0 15px;
    }

    .project-area {
        padding: 60px 0 40px;
    }

    .project-shape-wrap img:nth-child(2) {
        right: 4%;
        top: 12%;
    }

    .project-shape-wrap img {
        position: absolute;
        z-index: -1;
    }

    .link-arrow a {
        width: 40px;
        height: 40px;
    }

    .link-arrow a svg {
        width: 18px;
    }

    .footer-top .row>*:nth-child(2) .footer-widget {
        margin-left: 0px;
    }

    .footer-top .row>*:nth-child(2) .footer-widget {
        margin-left: 0px;
    }

    .footer-top .row>*:nth-child(2) .footer-widget {
        margin-left: 0px;
    }

    .footer-top .row>*:nth-child(3) .footer-widget {
        margin-left: 0px;
    }

    .footer-bottom {
        padding: 15px 0;
    }

    .footer-social .list-wrap li a {
        width: 38px;
        height: 38px;
    }

    .blog-post-bg {
        padding: 60px 0 30px;
    }

    .consulting-content .content-left {
        padding: 17px 17px;
    }

    .consulting-content .content-left .title {
        font-size: 35px;
    }

    .distribution-map {
        width: 100%;
    }

    .footer-top {
        padding: 60px 0 23px;
    }

    .tgmenu__action ul {
        margin-left: 0px !important;
    }

    .tgmenu__navbar-wrap>ul {
        margin: 0 0 0 25px;
    }

    .tgmenu__action ul li {
        position: relative;
        margin-left: 15px;
    }

    .tgmenu__action ul .offCanvas-menu .menu-tigger {
        width: 44px;
        height: 44px;
    }

    .tgmenu__nav .logo img {
        max-height: 60px;
    }

    .services-bg {
        padding: 70px 0;
    }

    .cyf_pro_tech_caunter {
        width: 20%;
    }

    .counter-item .icon {
        font-size: 45px;
    }

    .counter-item .content .count {
        font-size: 32px;
    }

    .cyfrif_team_sect {
        padding-top: 70px;
    }

    .cfp_header_contact {
        width: 50%;
    }

    .sg_about_us {
        padding-top: 60px;
    }

    .call-back-area {
        padding: 42px 0 32px;

    }
    .contact-page-map iframe {
        width: 300px;
    }
    .contact-page-map iframe {
        width: 100%;
        height: 365px;
    }

}



@media only screen and (max-width: 1080px) {
    .about-area {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .request-content .title {
        font-size: 30px;
    }

    .section-title .title {
        font-size: 28px;
    }

    .blog-post-content .title {
        font-size: 20px;
    }

    .shape img {
        width: 60%;
    }
    .services__details-list-box {
        padding: 10px 21px;
    }
    .services__sidebar {
        margin-top: 28px;
    }
    .sidebar__contact {
        padding: 28px 20px 28px;
    }


}





@media only screen and (max-width: 1024px) {
    .tg-header__top-right li:nth-child(2) {
        display: none;
    }

    .marketing_card_cyftech {
        width: 32%;
    }

    .blog-post-item {
        padding: 15px;
    }

    .blog-post-content .title {
        font-size: 17px;
    }

   
    .footer-content p {
        width: 100%;
    }

    .sg_background_img {
        padding-top: 66px !important;
    }

}

@media only screen and (max-width: 991px) {
    .cyfrife_top_search_icon {
        display: none !important;
    }

    .banner-bg {
        min-height: 415px !important;
        padding: 82px 0 55px;
    }

    .marketing_card_cyftech {
        width: 50%;
    }

    .project-shape-wrap img:nth-child(2) {
        right: 9%;
        top: 9%;
    }

    .cyf_pro_tech_smallmenu {
        display: block;
    }

    .tg-header__area {
        padding: 10px 0;
    }

    .cfp_header_contact {
        width: 44%;
    }

    .cyfrif_tech_service_mail {
        display: none;
    }

    .banner-bg {
        margin-top: 100px;
    }

    .cyf_pro_tech_smallmenu {
        margin-right: 0px !important;
    }
    .services__details-inner-four {
        margin: 0px 0 0px;
    }
    .cfp_about_page_left:before {
        left: -22px;
    }
    .shape img {
        width: 21%;
    }
    .Cyfr_p_marg {
        font-size: 30px !important;
    }
    .about__bg {
        padding: 50px 0;
       
    }
    .office_time {
        padding-bottom: 20px;
    }
    .sg_contact-info-item {
        padding: 21px 0px;
    }
    .team__details-content  ul {
            padding-left: 1rem;
    }
    .team__details-area {
    padding: 70px 0;
}
}

@media only screen and (max-width: 767px) {
    .cyf_pro_tech_caunter {
        width: 50%;
    }

    .marketing_card_cyftech {
        width: 100%;
    }

    .breadcrumb__bg {
        padding: 20px 0 22px !important;
    }

    .breadcrumb__content h2 {
        font-size: 33px !important;
    }

    .breadcrumb__content .title {
        margin-bottom: 10px;
    }

    .breadcrumb__area {
        height: 128px !important;
    }
    .services__details-list-box .icon {
        width: 55px;
        height: 55px;
       
    }
    .services__details-list-box {
        padding: 24px 16px;
    }
    .services__sidebar {
        margin-top: 60px!important;
    }
    .sidebar__post-item {
        margin-bottom: 20px;
    }
    .services__details-area {
            padding: 60px 0;
    }
    .services__details-area {
        padding: 18px 0;
    }
    .team__details-area {
        padding: 50px 0!important;
    }
    .team__details-img {
        margin-bottom: 24px;
    }

   




}

@media only screen and (max-width: 600px) {
    .services-bg {
        padding: 40px 0;
    }

    .breadcrumb__area {
        margin-top: 81px;
    }
    .breadcrumb__area {
        height: 104px !important;
    }
    .breadcrumb__content h2 {
        font-size: 23px !important;
    }
    .shape img {
        width: 25% !important;
    }
    .cfp_about_page_left:before {
        left: -17px;
    }
    
}

@media only screen and (max-width: 520px) {
    .services-content .icon {
        width: 60px;
        height: 60px;
    }

    .marketing_card_cyftech {
        width: 100%;
    }

    .call-back-area {
        padding: 66px 0 65px;
    }

    .banner-bg {
        min-height: 236px !important;
        padding: 12px 0 12px !important;
    }

    .cyf_pro_tech_smallmenu {
        margin-right: 0px !important;
    }

    .blog-post-bg {
        padding: 50px 0 20px;
    }

    .breadcrumb__content h2 {
        font-size: 24px !important;
    }
    .breadcrumb__area {
        height: 93px !important;
    }
    .services__details-content>.title {
        font-size: 18px;
        margin-bottom: 14px;
    }
    .services__details-area {
        padding: 25px 0;
    }
    .services__details-list-box .content .title {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .services__details-inner-content .title {
        font-size: 18px;
    }
    .sidebar__widget-title {
        font-size: 16px;
    }
    .breadcrumb__content h2 {
        font-size: 18px !important;
    }
    .breadcrumb__content .title {
        margin-bottom: 0px;
    }
    .breadcrumb__content h2 {
        font-size: 20px !important;
    }
    .breadcrumb__content .breadcrumb-item {
        font-size: 14px;
    }
    .sg_abaut_us_box h2 {
        font-size: 24px !important;
    }
    .sg_abaut_us_box h3 {
        font-size: 23px;
    }
    .services__details-inner-content-two .title {
        font-size: 25px;
    }
    .about__list-box-three h5{
            font-size: 20px; 
    }
    .about__list-box .list-wrap li i {
        width: 22px;
        height: 22px;
    }
    .team__details-content .title {
        font-size: 28px;
    }
    

}

@media only screen and (max-width: 420px) {
    .banner-content p {
        margin-bottom: 15px;
    }

    .banner-content h2 {
        font-size: 24px !important;
    }

    .banner-content .title {
        margin-bottom: 8px;
    }

    .banner-content .sub-title {
        margin-bottom: 12px;
    }

    .section-title .title {
        font-size: 24px;
    }

    .services-bg {
        padding: 45px 0;
    }

    .section-title .sub-title {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .about-bottom {
        gap: 20px;
    }

    .about-area {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .counter-area {
        padding: 30px 0 15px !important;
    }

    .team-area {
        padding: 45px 0 30px;
    }

    .about__area-eight {
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .breadcrumb__area {
        height: 100px !important;
    }

    .sg_about_us {
        padding-top: 25px;
    }

    .sg_abaut_us_box {
        padding: 24px;
    }
    .breadcrumb__area {
        height: 72px !important;
    }
    .breadcrumb__content .title {
        margin-bottom: 0px;
    }
    .breadcrumb__bg {
        padding: 5px 0 0px !important;
    }
    .services__sidebar {
        margin-top: 25px !important;
    }
    .sidebar__cat-list-two .list-wrap li a {
        padding: 13px 13px;
    }
    .footer-top {
        padding: 35px 0 10px;
    }
    .about__list-box .list-wrap li {
        gap: 12px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .about__list-box .list-wrap li i {
        width: 20px;
        height: 20px;
    }
    .call-back-area {
        padding: 40px 0 65px;
    }
    .breadcrumb__content h2 {
        font-size: 19px !important;
    }
    .breadcrumb__area {
        height: 56px !important;
    }
    .about__bg {
        padding: 20px 0;
    }
    .Cyfr_p_marg {
        font-size: 22px !important;
    }
    .cfp_about_page_left:before {
        left: -14px;
    }
    .pb-70 {
        padding-bottom: 25px;
    }
   
    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    } 
    .cfp_flexible_tittle h1 {
            font-size: 27px;
    
    }  
    .mb-5 {
        margin-bottom: 1rem !important;
    } 
    .cfp_flexible_tittle {
            margin-top: 39px;
    }
    .cfp_Testimonials_sec_body .footer {
        padding: 10px 0 1.4rem 0;
    }
 




    



}

@media only screen and (max-width: 380px) {
    .services-bottom-content {
        margin-top: 5px;
    }
    .services__details-area {
        padding: 28px 0 !important;
    }
    .cfp_Testimonials_sec {
        padding-top: 50px;
    }
    .cfp_Testimonials_sec_body .card-text {
        padding: 1rem 1rem;
    }
    .cfp_Testimonials_sec_body .footer {
        padding: 10px 0 10px 0;
    }
    .cfp_Testimonials_sec {
        padding-top: 36px;
    }


}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 5000px) and (min-width: 768px) {}